* {
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
}

.content {
	display: grid;
	margin-top: 80px;
}

.header,
.imagen,
.main,
.rules,
.location,
.form,
.footer {
	width: 100%;
	padding: 20px;
}

/*-------------------------------HEADER------------------------------*/
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #008602;
	position: fixed;
	margin-top: -100px;
	z-index: 5;
	padding-bottom: 0;
	height: 6.22em;
}

h1 {
	color: black;
}

.icon_menu {
	width: 40px;
	margin-left: auto;
}

ul {
	height: 70%;

}

li {
	display: flex;
	height: 50px;
	text-decoration: none;
	font-size: 16px;

	align-items: center;
	justify-content: center;
	list-style: none;
}

.link {
	text-decoration: none;
	color: #FFF;
}

nav p {
	color: #002007;
}

#main-nav {
	display: none;
	transition: all 1s ease;
	text-decoration: none;
}

#menu-button:focus {
	transition: all 1s ease;
}

.show-nav {
	display: block !important;
	background-color: darkgreen;
	flex-direction: column;
	position: fixed;
	right: 0;
	top: 80px;
	height: 100%;
	width: 40%;
	transition: all 1s ease;
	z-index: 100;
	text-align: center;
	text-decoration: none;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	/* Fondo semitransparente */

}

/*-------------------------------MAIN--------------------------------*/
.main {
	background-color: black;
}

h3 {
	color: #EBECF1;
	text-align: center;
	text-wrap: balance;
}

.main p {
	color: #EBECF1;
	text-align: center;
	text-wrap: balance;
}

.main_buttons {
	text-align: center;
}

/*BOTON REGLAMENTO*/

.button-rules {
	display: inline-block;
	padding: 5px 9px;
	font-family: Arial;
	font-size: 18px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: #EC1313;
	border: none;
	border-radius: 5px;
	box-shadow: 0 4px #666;
}

.button-rules:hover {
	background-color: #F31C1C;
	transition: 0.2s;
}

.button-rules:active {
	background-color: #BD0404;
	box-shadow: 0 1px #000;
	transform: translateY(4px);
}

/*BOTON UNITE AL GRUPO*/

.button-join {
	display: inline-block;
	padding: 5px 9px;
	font-family: Arial;
	font-size: 18px;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: #05ad29;
	border: none;
	border-radius: 5px;
	box-shadow: 0 4px #666;
}

.button-join:hover {
	background-color: #00A423;
	transition: 0.2s;
}

.button-join:active {
	background-color: #00A423;
	box-shadow: 0 1px #000;
	transform: translateY(4px);
}

/*-------------------------------IMAGEN------------------------------*/
.imagen {
	height: 300px;
	background: url(../images/canchachica2.jpg)no-repeat left top fixed;
	position: relative;
	z-index: 2;

}

/*-------------------------------RULES-------------------------------*/
.rules {
	background-color: black;
}

.rules h2 {
	color: #13CC00;
}

.rules table {
	width: 100%;
	border-collapse: collapse;
	padding-bottom: 2rem;
}

.rules .table {
	margin-left: auto;
	margin-right: auto;
}

.rules th {
	color: tomato;
	text-align: center;
}

.rules td {
	color: #EBECF1;
	text-align: center;
	text-wrap: balance;
	padding: 5px;
}

/*-------------------------------LOCATION----------------------------*/
.location {
	background-color: #FFFFFF;
}

.location h2 {
	padding: 0;
	color: #13CC00;
}

.map {
	text-align: center;
}

/*-------------------------------FORM--------------------------------*/
.form {
	background-color: black;

}

.form h2 {
	padding: 0;
	color: #13CC00;
	text-wrap: balance;
}

#popupBody h3 {
	padding: 2 rem;
	color: #000;
	font-size: 1.3rem;
	font-weight: bold;
	margin-bottom: 0.5rem;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.2;
	color: inherit;
}

.form-control {
	width: 35%;
	margin-left: auto;
	margin-right: auto;
}

.form-group {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
}

.fieldset {
	border: 0;
}

.label {
	color: #EBECF1;
	margin: 5px;
}

#name {
	width: 60%;
	border-radius: 5px;
	padding: 8px;
}

#message {
	width: 100%;
	border-radius: 5px;
	padding: 8px;
}

/*BOTON ENVIAR SUGERENCIA*/

.btn-group-lg>.btn,
.btn-lg {
	padding: 0.5rem 1rem;
	font-size: 1.25rem;
	line-height: 1.5;
	border-radius: 0.3rem;
}

.btn-primary {
	margin: 10px;
	align-items: center;
	background-color: #007bff;
	padding: 5px 9px;
	font-family: Arial;
	font-size: 18px;
	cursor: pointer;
	text-decoration: none;
	outline: none;
	color: #fff;
	border-radius: 5px;
	box-shadow: 0 4px #666;
}

.form-actions {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.btn-primary:hover {
	background-color: #005CBF;
	transition: 0.2s;
}

.btn-primary:active {
	background-color: #005CBF;
	box-shadow: 0 1px #000;
	transform: translateY(4px);
}

.btn {
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	user-select: none;
	border: 1px solid transparent;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

a,
area,
button,
input:not([type=range]),
label,
select,
summary,
textarea {
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}

/* ACÁ EMPIEZA EL EFECTO DEL POPUP */
.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
}

.overlay:target {
	visibility: visible;
	opacity: 1;
}

#popupBody {
	width: 75%;
	padding: 2%;
	border-radius: 15px;
	box-shadow: 0 0 5px #CCC;
	background: #FFF;
	position: relative;
	transition: all 5s ease-in-out;
	margin: 40% auto;
	text-align: center;
}

#cerrar {
	position: absolute;
	top: 5px;
	right: 10px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #F00;
}

/* FIN EFECTO POPUP */

/*-------------------------------FOOTER------------------------------*/
.footer {
	background-color: #008602;
	font-size: 12px;
	text-align: center;
}

/*--------------------------MAIN JUGADORES--------------------------------*/
.main_jugadores {
	background-color: #000000;
	display: block;
	margin: 0 auto;
}

.main_jugadores h3 {
	margin-top: 10px;
	color: #000;
}

.jugadores {
	/*la imagen*/
	width: 100%;
	margin: 0 auto;
}

/*--------------------------TABLA JUGADORES--------------------------------*/
.datagrid table {
	border-collapse: collapse;
	text-align: left;
}

.datagrid {
	font: normal 8px/150% Arial, Helvetica, sans-serif;
	background: #ffffff;
	overflow: hidden;
	border: 1px solid #36752D;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.datagrid table td,
.datagrid table th {
	padding: 3px 10px;
	width: 50%;
}

.datagrid table thead th {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #000), color-stop(1, #000000));
	background: -moz-linear-gradient(center top, #ff0000 5%, #878787 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#36752D', endColorstr='#275420');
	background-color: #36752D;
	color: tomato;
	/*color letra cabecera tabla jugadores*/
	/*font-size: 15px;*/
	text-align: center;
	font-weight: bold;
	border-left: 1px solid #36752D;
}

.datagrid table thead th:first-child {
	border: none;
}

.datagrid table tbody td {
	text-align: center;
	color: #ffffff;
	/*color letra tabla jugadores*/
	border-left: 1px solid #36752D;
	font-size: 12px;
	border-bottom: 1px solid #36752D;
	border-top: 1px solid #36752D;
	font-weight: normal;
}

.datagrid table tbody .alt td {
	background: #ffdede;
	color: #275420;
}

.datagrid table tbody td:first-child {
	border-left: none;
}

.datagrid table tbody tr:last-child td {
	border-bottom: none;
}

/* Estilo para filas pares */
.datagrid table tbody tr:nth-child(even) {
	background-color: #000000;
	/*Background filas impares tabla jugadores*/
}

/* Estilo para filas impares */
.datagrid table tbody tr:nth-child(odd) {
	background-color: #050050;
	/*Background filas pares tabla jugadores*/
}

.datagrid table tbody td:nth-last-child(-n+3) {
	text-align: center;
}

/* Estilo para nombre de jugadores*/
.player-link {
	text-decoration: none;
	/* Quita el subrayado */
	color: inherit;
	/* Usa el color heredado (el color del texto del contenedor padre) */
	font-weight: bold;
	/* Hace que el texto sea en negrita */
}

/*--------------------------MAIN JUGADOR--------------------------------*/
.content {
	background-color: rgb(0, 0, 0);
}

.main_jugador {
	background-color: rgb(0, 0, 0);
	display: block;
	margin: auto;
}

.main_jugador h3 {
	margin-top: 10px;
	color: #ffffff;
}

.jugador {
	width: 477px;
	margin: 0 auto;
}

.Avatar {
	margin-top: 10px;
	display: flex;
	justify-content: center;
	/* Centra horizontalmente */
	align-items: center;
	/* Centra verticalmente */
}

.faceCard {
	width: 110px;
	height: 155px;
	margin-top: 5px;
	/*float: left;
	margin-right: 5px;
	margin-left: 0;*/
	position: relative;
}

.faceCard img {
	position: absolute;
	left: 0;
	top: 0;
}


/* Seleccionamos el h2 dentro de la clase .main_jugador */
.main_jugador h2.jugador-titulo {
    display: flex; /* Convertimos el h2 en un contenedor flex */
    justify-content: center; /* Centramos el contenido horizontalmente */
}

/* Aplicamos estilos al span dentro de .jugador-titulo */
.main_jugador .jugador-nombre {
    color: #13CC00;
    text-align: center; /* Aunque no es necesario, esto puede ayudar a centrar cualquier texto dentro del span */
}

/*--------------------------MAIN JUGADOR estrellitas--------------------------------*/
.star-ratings-css {
	display: inline-block;
	unicode-bidi: bidi-override;
	color: #c5c5c5;
	margin-right: 1em;
	position: relative;
	text-shadow: 0 1px 0 #a2a2a2;
	font-size: 2em;
	height: 1em;
	line-height: 1em;
	/* Ajusta la altura de línea igual a la altura de la fuente */
	vertical-align: middle;
	/* Alinea verticalmente */
}

.star-ratings-css::before {
	content: '★★★★★';
	opacity: .3;
	overflow: hidden;
}

.star-ratings-css i {
	left: 0;
	position: absolute;
	overflow: hidden;

}

.star-ratings-css i::after {
	font-style: normal;
	color: rgb(255, 208, 0);
	content: '★★★★★';
	text-shadow: 0 1px 0 #ab5414;
	z-index: 1;
}

/*--------------------------FIN estrellitas--------------------------------*/

/*--------------------------TABLA PARTIDOS--------------------------------*/
.datagridPartido table {
	border-collapse: collapse;
	text-align: left;
}

.datagridPartido {
	font: normal 12px/150% Arial, Helvetica, sans-serif;
	background: #ffffff;
	overflow: hidden;
	border: 1px solid #36752D;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.datagridPartido table td,
.datagridPartido table th {
	padding: 3px 10px;
	width: 100%;
}

#partidosJugador-table-head1 {
	width: auto;
}
.datagridPartido table thead th {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #000), color-stop(1, #000000));
	background: -moz-linear-gradient(center top, #ff0000 5%, #878787 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#36752D', endColorstr='#275420');
	background-color: #36752D;
	color: tomato;
	/*color letra cabecera tabla jugadores*/
	/*font-size: 15px;*/
	text-align: center;
	font-weight: bold;
	border-left: 1px solid #36752D;
}

.datagridPartido table thead th:first-child {
	border: none;
}

.datagridPartido table tbody td {
	text-align: center;
	color: #ffffff;
	/*color letra tabla jugadores*/
	border-left: 1px solid #36752D;
	font-size: 12px;
	border-bottom: 1px solid #36752D;
	border-top: 1px solid #36752D;
	font-weight: normal;
}

.datagridPartido table tbody .alt td {
	background: #ffdede;
	color: #275420;
}

.datagridPartido table tbody td:first-child {
	border-left: none;
}

.datagridPartido table tbody tr:last-child td {
	border-bottom: none;
}

/* Estilo para filas pares */
.datagridPartido table tbody tr:nth-child(even) {
	background-color: #000000;
	/*Background filas impares tabla jugadores*/
}

/* Estilo para filas impares */
.datagridPartido table tbody tr:nth-child(odd) {
	background-color: #050050;
	/*Background filas pares tabla jugadores*/
}

.datagridPartido table tbody td:nth-last-child(-n+3) {
	text-align: center;
}

/*--------------------------FIN TABLA PARRTIDOS--------------------------------*/

/* Agrega estilos para los valores a la derecha de los iconos */
.main_jugador .jugador-nombre,
.main_jugador .star-ratings-css,
.main_jugador .valoracion,
.main_jugador .partidos-icon,
.main_jugador .partidos-valor,
.main_jugador .tarjetas-icon,
.main_jugador .tarjetas-valor {

	display: inline-block;
	vertical-align: middle;
}

/* Estilos para los iconos */
.partidos-icon,
.tarjetas-icon {
	width: 45px;
	vertical-align: middle;
}

/* Estilo para los valores numéricos */
.partidos-valor,
.tarjetas-valor {
	color: #ffffff;
	margin-left: 5px;
	/* Ajusta el espaciado entre el icono y el valor */
	vertical-align: middle;
}

/*--------------------------MAIN PARTIDOS--------------------------------*/
.main_partidos {
	background-color: #000000;
	display: block;
	margin: 0 auto;
}

/*--------------------------MAIN PARTIDO--------------------------------*/
.contenedor-imagen {
	position: relative;
	/*background-color: #007bff;*/
	/* Asegura que el contenido interno esté contenido en este contenedor */
	height: 500px;
	overflow: hidden;
	/* Evita que la imagen se desborde del contenedor */
	display: flex;
	/* Usa flexbox para centrar el contenido */
	justify-content: center;
	/* Centra horizontalmente */
	align-items: center;
	/* Centra verticalmente */
	z-index: 1;
}

.Cancha {
	position: absolute;
	height: 100%;
	/* Ajustar la altura al 100% para que cubra todo el contenedor */
	width: 100%;
	z-index: -1;
	/*filter: brightness(50%);*/
	opacity: 50%;
	object-fit: cover;
	/* Recorta la imagen para que se ajuste al contenedor sin estirarse */
}

.tituloPartido h2 {
	color: #FFF;
}

.grilla {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(7, 1fr);
	grid-column-gap: 50px;
	grid-row-gap: 25px;
}

.cabecera {
	/*Fecha partido*/
	grid-area: 1 / 1 / 2 / 3;
	text-align: center;
	color: #FFF;
	font-size: 20px;
}

.subCabecera {
	/* Resultado partido*/
	grid-area: 2 / 1 / 3 / 3;
	font-size: 28px;
	text-align: center;
	color: rgb(255, 255, 255);
	font-family: "Suez One", serif;
	font-weight: bold;
	text-align: center;
	font-size: 35px;
	color: rgb(255, 255, 255);
	text-shadow: rgb(0, 0, 0) 3px 2px 2px;
}

.columnaIzquierda {
	/*Equipo 1*/
	grid-area: 3 / 1 / 6 / 2;

}

.columnaDerecha {
	/*Equipo 2*/
	grid-area: 3 / 2 / 6 / 3;
}

/*----------------------------PARTIDO---------------------------------------*/
table.blueTable {
	border: 1px solid #1C6EA4;
	background-color: rgba(0, 0, 0, .25);
	text-align: center;
	border-collapse: collapse;
}

table.blueTable td,
table.blueTable th {
	border: 1px solid #FFFFFF;
	padding: 3px 2px;
}

table.blueTable tbody td {
	font-size: 15px;
	/*font-weight: bold;*/
	color: #FFFFFF;
}

table.blueTable tr:nth-child(even) {
	background: rgba(255, 255, 255, 0.25);
}

table.blueTable thead {
	background: #0E5105;
	background: -moz-linear-gradient(top, #4a7c43 0%, #26621e 66%, #0E5105 100%);
	background: -webkit-linear-gradient(top, #4a7c43 0%, #26621e 66%, #0E5105 100%);
	background: linear-gradient(to bottom, #4a7c43 0%, #26621e 66%, #0E5105 100%);
}

table.blueTable thead th {
	font-size: 18px;
	font-weight: bold;
	color: tomato;
}

/*----------------------------Armar Equipos---------------------------------------*/
/* Estilo para el contenedor principal de Armar Equipos */
.main-ArmarEquipos {
	background-color: #050050;
	padding: 20px;
	border: 1px solid #000000;
	margin: 20px;
  }
  
  /* Estilo para los menús desplegables (dropdowns) */
  select {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #36752D;
	border-radius: 5px;
	background-color: #fff;
  }
  
  /* Estilo para el botón "Armar Equipos" */
  #armarEquiposButton {
	background-color: #000000;
	color: tomato;
	padding: 10px 20px;
	border: 1px solid #36752D;
	cursor: pointer;
	border-radius: 5px;
  }
  
  /* Estilo para deshabilitar el botón "Armar Equipos" cuando está deshabilitado */
  #armarEquiposButton:disabled {
	background-color: #ccc;
	color: white;
	cursor: not-allowed;
  }
  
/*----------------------------EquiposArmados---------------------------------------*/
.contenedor-imagen-EquiposArmados {
	position: relative;
	/*background-color: #007bff;*/
	/* Asegura que el contenido interno esté contenido en este contenedor */
	height: 500px;
	overflow: hidden;
	/* Evita que la imagen se desborde del contenedor */
	display: flex;
	/* Usa flexbox para centrar el contenido */
	justify-content: center;
	/* Centra horizontalmente */
	align-items: center;
	/* Centra verticalmente */
	z-index: 1;
}

.FutbolIA {
	position: absolute;
	height: 100%;
	/* Ajustar la altura al 100% para que cubra todo el contenedor */
	width: 100%;
	z-index: -1;
	/*filter: brightness(50%);*/
	opacity: 50%;
	object-fit: cover;
	/* Recorta la imagen para que se ajuste al contenedor sin estirarse */
}

.titulo-EquiposArmados h2 {
	color: #FFF;
}

#htmlEquipos {
/*background-color: #f10000;*/
height: 100%;
margin-top: 40px;
}

.grilla-EquiposArmados {
	/*background-color: blueviolet;*/
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 0.6fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	margin-top: 0%;
}

.cabecera-EquiposArmados {
	/*background-color: #007bff;*/
	grid-area: 1 / 1 / 2 / 3;
	text-align: center;
	color: #FFF;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 10%;
}

.columnaIzquierda-EquiposArmados {	/*Equipo 1*/
	/*background-color: #ab5414;*/
	grid-area: 2 / 1 / 3 / 2;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 10%;
	margin-right: 2.5%;
}

.columnaDerecha-EquiposArmados {	/*Equipo 2*/
	/*background-color: beige;*/
	grid-area: 2 / 2 / 3 / 3;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10%;
	margin-left: 2.5%;
}